<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <remove name="LocalSqlServer" />
        <add connectionString="Server=ACER-PC;Database=cuahang;User ID=sa;Password=namphi12" name="LocalSqlServer" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <identity impersonate="false" />
    </system.web>
    <system.webServer>
        <directoryBrowse enabled="false" />
    </system.webServer>
</configuration>
