@{ ViewBag.Title = "thong bao";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}
@section header
{
<h2> thong bao</h2>
}
<div class="col-md-9">
    <p style="text-align:center">
       lỗi 
    </p>
</div>